body{
    margin: 0px;
    padding: 0px;
    background: url(waa.png);
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}
.h2{
  margin-top: 3%;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px pink;
}
.topnav {
  overflow: hidden;
  background-color: #191970;
}
/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color:  rgb(175, 238, 239,0.6);
  color: black;
}
.alam {
  display: inline-block;
}
div.gallery {
  border: 1px solid #ccc;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.booking [type="submit"] {
 cursor: pointer;
 background: #deb887;
 width: 150px;
 border-radius: 25px; 
}
div.desc {
  padding: 15px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
.buatan {
  display: inline-block;
}
div.gallery {
  border: 1px solid #ccc;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
div.booking [type="submit"]{
  cursor: pointer;
  background-color: #ADD8E6;
  color: white;
  position: center; 
}
* {
  box-sizing: border-box;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>
